.u-section-1 {
  background-image: linear-gradient(#41096c, #854ec2);
}

.u-section-1 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-1 .u-blog-1 {
  min-height: 855px;
  height: auto;
  width: 1076px;
  margin: 32px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 10px);
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px 20px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-repeater-item-1 {
  grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 558px;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-repeater-item-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 558px;
  margin-top: 20px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-blog-1 {
    width: 940px;
    min-height: 747px;
  }

  .u-section-1 .u-repeater-1 {
    margin-top: 65px;
    margin-bottom: 0;
    margin-right: 0;
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  .u-section-1 .u-text-2 {
    height: 140px;
    margin-top: 208px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 208px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-blog-1 {
    width: 720px;
    min-height: 2289px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(50% - 10px);
  }

  .u-section-1 .u-repeater-item-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    grid-auto-rows: calc(50% - 5px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 65px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-blog-1 {
    width: 540px;
    min-height: 1717px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-repeater-item-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 104px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 104px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-blog-1 {
    width: 340px;
    min-height: 1081px;
  }

  .u-section-1 .u-repeater-item-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-top: 156px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 156px;
  }
}